.sub-menu{    
    list-style: none;
}
.sub-menu > li > a{
    display: block;
    border: 1px solid blue;
    text-decoration: none;
    color: blue;
    width: 120px;
    text-align: center;
    margin-top: 10px;
    background-color: black;
}

.sub-menu > li > a:hover{
    display: block;
    width: 120px;
    border-color: yellow;
    text-decoration: none;
    color: yellow;
    text-align: center;
    margin: top 10px;
    background-color: gray;
}
